[solnet-angular-sticky-table-header] {
  &.solnet-angular-sticky-table__clone {
    position: fixed;
    top: 0;
    display: none;

    &.solnet-angular-sticky-table__clone--visible {
      display: table;
    }
  }

  &.solnet-angular-sticky-table-header__original {
    opacity: 0;
  }
}

